.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
  margin: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--purple);
  border-radius: 8px 8px 0 0;
  z-index: 1;
}
.cardHeader {
  position: relative;
  margin-top: 16px;
}

.cardBody {
  padding: 16px;
  width: 100%;
}

.name {
  font-weight: bold;
  margin: 0;
}

.role,
.team {
  margin-top: 8px;
  margin-bottom: 0;
  padding: 8px;
}
.label {
  background-color: var(--grey);
  font-weight: bold;
  padding: 10px 5px;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
