.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.orgChart ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.orgChart li {
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 10px;
}
/* .orgChart li:first-child::before,
.orgChart li::after {
  content: none; 
} */

.orgChart li::before,
.orgChart li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 2px solid #ccc;
  width: 50%;
  height: 20px;
 
}

.orgChart li::after {
  right: auto;
  left: 50%;
  border-left: 2px solid #ccc;
  
}


.orgChart li:only-child {
  padding-top: 0;
}

.orgChart li:first-child::before,
.orgChart li:last-child::after {
  border: 0 none;
}

.orgChart li:last-child::before {
  border-right: 2px solid #ccc;
}
.orgChart li:last-child::before {
  border-radius: 0 5px 0 0;
}
.orgChart li:first-child::after {
  border-radius: 5px 0 0 0;
}
